/* Batman JS */
/* Frantically put together in two days. */

/* proxima */
@font-face {
    font-family: 'ProximaNovaLight';
    src: url(fonts/proximanova-light-webfont.eot);
    src: url(fonts/proximanova-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/proximanova-light-webfont.woff) format('woff'),
         url(fonts/proximanova-light-webfont.ttf) format('truetype'),
         url(fonts/proximanova-light-webfont.svg#ProximaNovaLight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(fonts/proximanova-reg-webfont.eot);
    src: url(fonts/proximanova-reg-webfont.eot?#iefix) format('embedded-opentype'),
         url(fonts/proximanova-reg-webfont.woff) format('woff'),
         url(fonts/proximanova-reg-webfont.ttf) format('truetype'),
         url(fonts/proximanova-reg-webfont.svg#ProximaNovaLight) format('svg');
    font-weight: normal;
    font-style: normal;
}


/* generic / layout */
body {
  font-family: ProximaNovaRegular;
  line-height: 1.3;
  padding-top: 64px;
  background: #171722;
  color: #a2a1ba;
}
p + p { margin: 0 0 .45em 0;}
h1 { color: magenta; }

h2, h3, h4, h5 { font-family: ProximaNovaLight; }
h2 { font-size: 170%; margin-bottom: .5em;}
h3 { font-size: 150%; margin-bottom: .5em; line-height: 1.3em; }
h4 { font-size: 130%; margin-bottom: .5em; }
h5 { font-size: 115%; margin-bottom: .5em; }
a { color: #a2a2ba; }
a:hover { color: #fff; }

code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  color: #333;
  padding: 0 3px;
  background: #fff;
  font-size: 85%
}
.code-highlight {
  background: #fff8d4;
  font-size: 90%
}


/* layout */
.row {
  margin-left: -20px;
}
div[class*="span"] {
  padding-left: 20px;
  float:left;
  box-sizing: border-box;
}
.span1 {  width:4.1666667%; }
.span2 {  width:8.3333333%; }
.span3 {  width:12.5%; }
.span4 {  width:16.6666667%; }
.span5 {  width:20%; }
.span6 {  width:25%; }
.span7 {  width:29.1666667%; }
.span8 {  width:33.3333333%; }
.span9 {  width:37.5%; }
.span10 { width:41.6666667%; }
.span11 { width:45%; }
.span12 { width:50%; }
.span13 { width:54.1666667%; }
.span14 { width:58.3333333%; }
.span15 { width:62.5%; }
.span16 { width:66.6666667%; }
.span17 { width:70.8333333%; }
.span18 { width:75%; }
.span19 { width:79.1666667%; }
.span20 { width:83.3333333%; }
.span21 { width:87.5%; }
.span22 { width:91.6666667%; }
.span23 { width:95.8333333%; }
.span24 { width:100%; float:none; }

.wrapper {
  width: 980px;
  margin: 0 auto;
}
.alt-row { background: #EAEBFA; }
.plain-row { background: #fff;}

.alt-row, .plain-row { color: #171722; }

.alt-row a, .plain-row a { color: #323264; }
.alt-row a:hover, .plain-row a:hover { color: #3f3f9e;}

/* helpers */
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}

.p { padding: 10px; }
.pp { padding: 20px; }
.ppt { padding-top: 20px; }
.ppr { padding-right: 20px; }
.ppl { padding-left: 20px; }
.ppb { padding-bottom: 20px; }
.p-none { padding: 0; }

.sb{ margin-bottom: 10px; }
.ssb{ margin-bottom: 20px; }
.ssl{ margin-left: 20px; }
.s-none { margin: 0; }

.fl { float: left; }
.fr { float: right; }

.tc { text-align: center }
.tl { text-align: left }
.tr { text-align: right }

.divider-top { border-top: solid 1px #e8e8fc; margin-top: 15px; padding-top: 15px; }
.divider { border-bottom: solid 1px #e8e8fc; margin-bottom: 15px; padding-bottom: 15px; }

.small { font-size: 13px; }

/* icon font */
@font-face {
  font-family: 'elusive';
  src: url("fonts/elusive.eot?73867653");
  src: url("fonts/elusive.eot?73867653#iefix") format('embedded-opentype'), url("fonts/elusive.woff?73867653") format('woff'), url("fonts/elusive.ttf?73867653") format('truetype'), url("fonts/elusive.svg?73867653#elusive") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: 'elusive';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
  margin-left: 0.2em;
}
.ico-twitter:before { content: '\e018'; } /* '' */
.ico-github:before { content: '\e0b6'; } /* '' */
.ico-download:before { content: '\e0c4'; } /* '' */


.icn { display: inline-block; text-indent: -900em; overflow: hidden; }

.icn-ruby { background: url(../images/icn-ruby.png) 0 0 no-repeat; width: 88px; height: 78px; }
.icn-scale { background: url(../images/icn-scale.png) 0 0 no-repeat; width: 104px; height: 70px; }
.icn-heart { background: url(../images/icn-heart.png) 0 0 no-repeat; width: 88px; height: 75px; }

.overview .icn { margin: 0 0 30px 0; }
.overview-middle-col {
  border-left: solid 1px #d9d9ef;
  border-right: solid 1px #d9d9ef;
}
.overview .span8 {  padding: 40px 30px !important; }
.overview .span8 p { color: #5c5c6e; }
.overview .last-col { margin-right: 0 !important; }

/* buttons */
.btn {
  padding: 6px 8px 4px 10px;
  background: #a2a1ba;
  text-decoration: none;
  color: #fff !important;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  -moz-transition:    all 0.1s ease;
  -ms-transition:     all 0.1s ease;
  -o-transition:      all 0.1s ease;
  transition:         all 0.1s ease;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.btn:hover { background: #ffe43f; color: #1f1f27 !important; }
.btn:active { background: #ffe43f; }

/* boxes */
.box {
  background: #f9f9f9;
  padding: 20px;
}
.box p { color: #5c5c6e; }
.box-connected{
  border-top: solid 1px #e6e6e6;
  padding: 10px;
  background: #efefef;
}
.box-highlight{
  background: #f3f3fc;
}
.box-highlight .divider { border-color: #e8e7ec; }
.box-highlight .divider-top { border-color: #e8e7ec; }
.box-highlight .callout {
  background: #e8e7f1;
  padding: 10px;
  float: right;
  width: 28%;
  font-size: 13px;
}
.box-highlight-connected{
  border-top: solid 1px #e0deeb;
  padding: 20px;
  background: #e8e7f4;
  font-size: 14px;
}
.box-highlight-connected a { text-decoration: none }
.box-highlight-connected a:hover{ text-decoration: underline }


/* lists */
.bat-list{
  font-size: 14px;
  color: #a2a1ba;
  margin-left: 18px;
  margin-top: 1em;
}
.bat-list li{
  list-style-type: square;
  margin-bottom: .45em;
}



/* header */
.header{
  position: fixed; top: 0; left: 0;
  width: 100%;
  height: 64px;
  background: #1f1f27;
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
  z-index: 2;
}
.header a{ color: #a2a2ba;
  -webkit-transition: all 0.15s ease;
  -moz-transition:    all 0.15s ease;
  -ms-transition:     all 0.15s ease;
  -o-transition:      all 0.15s ease;
  transition:         all 0.15s ease;
}
.header a:hover { color: #fff; }

.header-site-title {
  float: left;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
}
.header-site-title a{
  color: #fff;
  text-decoration: none;
  line-height: 66px;
}

/* header > nav */
.header-nav { float: right; }
.nav-primary a {
  display: block;
  height: 64px;
  line-height: 67px;
  box-sizing: border-box;
  text-align: center;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
.nav-primary .nav-top-highlight {  }
.nav-top-highlight a { color: #1f1f27; line-height: 34px; background: #ffe43f; height: 32px; margin: 16px 0 0 20px; border-radius: 4px; }
.nav-primary li { float: left; }
.nav-primary li:first-child a{
}
.nav-primary a:hover{
  background: #2a2a32;
  color: #fff;
}
.nav-top-highlight a:hover {

}

.subnav { margin-right: 20px; }
.subnav li{
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: solid 1px #e8e8fc;
}

.page-header{
  margin-bottom: 50px;
}

/* homepage mega intro block */
.intro {
  background: #111119 url(../images/skyline.png) 0 100% repeat-x;
  color: #a2a1ba;
  height: 382px;
  overflow: hidden;
  -webkit-transition: height 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.intro h2 { font-size: 36px; color: #fff; line-height: 1.2em; text-align: center; }
.intro h3 { font-size: 18px; line-height: 1.3em; text-align: center; }

.intro-message {
  margin-top: 175px;
  margin-bottom: 0px;
}

/* Next Steps */

.next-step {
  float: right;
  background-color: #ffe43f;
  padding: 12px 24px;
  color: #1f1f27;
  text-decoration: none;
  margin-bottom: -60px;
}
.next-step:hover {
  background-color: rgb(255, 219, 0);
  color: #1f1f27;
}


/* Try it live! */

.try-it-live {
  font-size: 18px;
  color: #FFF;
  background: rgba(103, 55, 165, 0.750);
  padding: 12px 24px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  top: 36px;
  left: 70px;
  z-index: 1;
}

.try-it-live:hover {
  background: rgba(114, 53, 192, 0.750);
}

.cm-s-solarized.CodeMirror {
  z-index: 1;
}

/* Code Editor */

.code-editor {
  /* background: #DEDEEB; */
  background: rgba(57, 57, 63, 0.67);
  height: 500px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  cursor: pointer;
}
.code-header {
  height: 30px;
  background: #A4A4AE url(../images/window-controls.png) no-repeat 8px 8px;
  color: #000;
  border-radius: 4px 4px 0 0;
}
.code-header h3 {
  font-size: 18px;
  padding-top: 4px;
}
.code-editor-browser {
  width: 293px;
  height: 430px;
  float: left;
  padding: 20px 0;
  overflow: hidden;
}
.code-editor-browser ul {
  margin: 0 0 0 20px;
  font-size: 14px;
  line-height: 20px;
}

.code-editor-browser .file {
  text-decoration: none;
  font-style: italic;
}

.code-editor-browser .directory {
  font-weight: bold;
  font-style: normal !important;
  color:#e2e2ff;
}

.code-editor-text {
  background: #CCCCD9;
  width: 687px;
  height: 470px;
  float: right;
  border-radius: 0 0 4px 0;
}
.code-terminal-text {
  padding: 20px;
}
.code-editor-text pre, .code-terminal-text pre {
  font-family: monospace;
  font-size: 16px;
  line-height: 18px;
  color: #3B3B41;
}
.code-terminal-text pre {
  color: #CCCCD9;
}
.code-terminal {
  background: #3B3B41;
  height: 140px;
}

.download-now {
  margin-bottom: 20px;
}

.download-now a {
  background: #F2D000;
  padding: 24px;
  text-align: center;
  color: #000;
  display: block;
}


.alt-row .row,
.plain-row .row {
  padding: 60px 0;
}

/* homepage > demo feature */
.demo .files { width: 150px; padding: 15px; }


/* footer */
.footer{
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer .ico {
  font-size: 24px;
  float: right;
  margin-top: 4px;
  margin-left: 15px;
  text-decoration: none;
  color: #5c5c6e;
  -webkit-transition: all 0.15s ease;
  -moz-transition:    all 0.15s ease;
  -ms-transition:     all 0.15s ease;
  -o-transition:      all 0.15s ease;
  transition:         all 0.15s ease;
}
.footer .ico:hover {
  color: #a2a1ba;
}


/* footer > tweet */
.tweet {
  font-size: 12px;
}
.tweet_text {
  background: #efefef;
  padding: 20px;
  display: block;
  margin-right: 20px;
  font-size: 16px;
  position: relative;
}
.tweet_text:after{
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #efefef transparent transparent transparent;
}
.tweet_time {
  margin-left: 22px;
}
.tweet_time:before {
  font-family: 'elusive';
  content: '\e018';
  margin: 0 10px 0 0;
  font-size: 16px;
  color: #ccc;
  line-height: 1.4em;
}
.tweet_time a, .tweet_user { text-decoration: none; }
.tweet_time a:hover, .tweet_user:hover { text-decoration: underline; }


/* download */
.version-details{
  font-size: 13px;
  float: right;
  text-align: right;
  color: #a2a1ba;
}
.version-details a{
  color: #a2a1ba;
  text-decoration: none;
}
.version-details a:hover{
  text-decoration: underline;
}
.version-details .title {
  color: #ccc;
}


/* footer > mailing list */
.mailing-list input{
  padding: 6px;
  border: solid 1px #ddd;
  font-size: 16px;
  box-sizing: border-box;
  font-family: ProximaNovaRegular;
  height: 32px;
  line-height: 32px;
  padding: 0;
}
.mailinglist form { overflow: hidden; }
.mailing-list .email-submit {
  float: right;
  width: 25%;
  background: #a2a1ba;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -moz-transition:    all 0.1s ease;
  -ms-transition:     all 0.1s ease;
  -o-transition:      all 0.1s ease;
  transition:         all 0.1s ease;
}
.mailing-list .email-submit:hover {
  background: #DBB500;
  border-color: #b09100;
  color: #fff;
}
.mailing-list .email-signup {
  float: left;
  width: 75%;
  color: #303043;
  border-right: none;
  padding: 0 10px;
}

.CodeMirror { background-color: #fff; }

.cm-s-solarized .CodeMirror-gutters {
  box-shadow: none !important;
}

.terminal-field {
  background: transparent;
  border: none;
  font-size: 2em;
  color: #fff;
  width: 800px;
  text-overflow: hidden;
}
