---
layout: api_docs
#= api_doc
---

{{ page.html }}
<ul class="api-list">
{% for s in page.sub %}
  <li class="api-list-item">
    <h3 class="api-title">
      <a id="{{ s.id }}" class="anchor-target"></a>
      <a href="#{{ s.id }}" class="anchor-link">
      <span class="{% if s.meta %}monospace-heading{% endif %}">
        {% if s.meta.level == 'class' %}@{% endif %}{{ s.title }}
        {% if s.meta.params %}
          {% if s.meta.type == 'property' %}
            <span class="params">{{ s.meta.params }}</span>
          {% else %}
            <span class="params">({{ s.meta.params }})</span>
          {% endif %}
        {% endif %}
        {% if s.meta.returnType %}<span class="return-type">: {{ s.meta.returnType }}</span>{% endif %}
      </span>
      </a>
    </h3>
    {{ s.html }}
  </li>
{% endfor %}
</ul>