<!-- Begin intro-wrapper -->
<div id="intro-wrapper">

  <!-- Begin intro-statement -->
  <div id="intro-statement">
    <h2>A client-side framework for Rails developers.</h2>
    <p style="text-align:justify">Batman.js is a framework for building rich web applications with CoffeeScript. App code is concise and favors convention over configuration, and packs a powerful system of view bindings and observable properties. The API is designed with developer and designer happiness as its first priority, and while it has no real dependencies, it works quite well with Rails.</p>
    <p>Want to learn more? Check out <a href="/features.html">all the features</a> or some <a href="/examples.html">examples</a>.</p>
  </div>
  <!-- End intro-statement -->

</div>
<!-- End intro-wrapper -->
