<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>batman.js{% if page.key or page.subkey %} &mdash; {% if page.subkey %}{{ page.subkey }}{% else %}{{ page.key }}{% endif %}{% endif %}</title>

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/fancybox.css">
  <link rel="stylesheet" href="css/syntax.css">
</head>
<body id="{% if page.key == 'overview' and page.subkey == null %}home{% else %}sub{% endif %}">

  <div class="header">
    <div class="wrapper">
      <h1 class="header-site-title"><a href="/">Batman.js</a></h1>

      <div class="header-nav clearfix">
        <nav class="nav-top">
          <ul class="nav-primary">
            <li {% if page.key == 'overview' %}class="active"{% endif %}><a href="/">Overview</a></li>
            <li {% if page.key == 'examples' %}class="active"{% endif %}><a href="examples.html">Examples</a></li>
            <li><a href="docs/batman.html">Documentation</a></li>
            <li class="nav-top-highlight {% if page.key == 'download' %}active{% endif %}"><a href="download.html">Download</a></li>
          </ul>
        </nav>
      </div>
    </div><!-- /.header -->
  </div>

  <!-- Begin content-wrapper -->
  <div id="content-wrapper">
    <div id="content">

      {% if page.use_wrapper %}
      <div class="listy" id="content-column-wrapper">
        <h2>{{ page.title }}</h2>
        <h4>posted on {{ page.date | date_to_long_string }}</h4>
      {% endif %}

        {{ content }}

      {% if page.use_wrapper %}
      </div>
      {% endif %}

    </div>
  </div>
  <!-- Begin content-wrapper -->


  <div class="footer">
    <div class="wrapper">
      <div class="row clearfix">

        <div class="span12">
          <a class="shopify-logo" href="http://www.shopify.com" target="_blank"><img src="images/logo-shopify.png"  alt="ecommerce software" /></a>
        </div>

        <div class="span12 pt tr">
          <a href="http://github.com/shopify/batman" class="ico ico-github"></a>
          <a href="https://twitter.com/batmanjs" class="ico ico-twitter"></a>
          <p>Copyright 2013 &ndash; Shopify. Released under the <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT license</a>.</p>
          <p>batman.js is a Shopify project, created by <a href="http://github.com/nciagra">Nick Small</a>.</p>
        </div>

      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="js/scripts.js"></script>
  <script src="js/jquery.tweet.js"></script>
  <script>
  // Begin jquery tweet //
  $(document).ready(function(){
      $("#latest-tweet").tweet({
          join_text: "auto",
          count: 1,
          query: "batmanjs",
          auto_join_text_default: "",
          auto_join_text_ed: "",
          auto_join_text_ing: "",
          auto_join_text_reply: "",
          auto_join_text_url: "",
          loading_text: "Loading tweets..."
      });
  });
  </script>

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25319166-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
